@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
	<p>Welcome to SkillSync, your platform for connecting with mentors and mentees.</p>
	<p>Use the navigation bar to explore features, register as a user, or log in.</p>
	<p>To get started, you can register as a new user or log in if you already have an account.</p>
	<p>Explore the features of SkillSync:</p>
	<ul>
		<li>Connect with mentors and mentees</li>
		<li>Manage your profile</li>
		<li>Search for skills and expertise</li>
		<li>Engage in discussions and share knowledge</li>
		<li>Track your learning progress</li>
	</ul>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
